@charset "utf-8";
/* CSS Document */

.background{
	width: 100%;
}
.container{
	width:1920px;
	height: 1080px;
	margin: 0 auto;
	text-align: center;
}
img{
	width:1920px;
}
.title{
	font-family: "方正字迹-吕建德字体";
	font-size: 170px;
	position: relative;
	top: -1200px;
	left: -500px;
}
.under{
	width: 600px;
	height: 650px;
	background-color: #FFFFFF;
	position: relative;
	top: -1600px;
	left: 1150px;
	opacity: 0.8;
}
.above{
	width: 600px;
	height: 650px;
	position: relative;
	top: -2250px;
	left: 1150px;
}
.content{
	width: 600px;
	height: 650px;
	position: relative;	
}
.word{
	position: relative;
	font-size: 50px;
	top:50px;
	left:-50px;
}
.userName{
	padding-left: 60px;
	width: 350px;
	height: 50px;
	position: relative;
	top:100px;
	left: -20px;
}
.firstPhoto{
	width: 45px;
	height: 45px;
	position: relative;
	left: 10px;
	top: 50px;
		}
.passWord{
	padding-left: 60px;
	width: 350px;
	height: 50px;
	position: relative;
	top:170px;
	left: -45px;
}
.secondPhoto{
	width: 45px;
	height: 45px;
	position: relative;
	top: 120px;
	left: -200px;	
		}
.load{
	position: relative;
	top:200px;
	left: -80px;
	width: 230px;
	height: 45px;
	background-color:#D08095
}
.left{
	position: relative;
	top:-50px;
	left: -180px;
}
.right{
	position: relative;
	top: -68px;
	left: 180px;
}
.load{
	position: relative;
	top:140px;
	left: 150px;
	font-size: 25px;
	
}
a{
	text-decoration: none;
	color: black;
}